.section{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 20px;
    box-sizing: border-box;
    background-color: rgb(245, 245, 238);
    height: 91vh;
    padding-top: 30px ;
}

@media screen  and (max-width: 800px){
    .section{
        flex-direction: column;
        margin-top: 50px;
    }
}